* {
    margin: 0;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    /* background-image: url(https://images.unsplash.com/photo-1534787082341-6ebc212936fb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6ec9dfc79e411d63d6ce5b2e60cd8ec4&auto=format&fit=crop&w=800&q=60); */
    background-color: rgb(40, 40, 40);
    height: 100vh;
    background-attachment: local, scroll;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    width: 100vw;
} 

.aboutTitle {
    grid-column: 1;
    grid-row: 1;
    font-size:  60px;
    color:  rgb(216, 37, 97);
    font-family: 'Nixie One', cursive;
    justify-content: center;
    margin-top: 275px;
    margin-left: 30%;

    /* text-shadow: 5px 5px whitesmoke; */
}

.aboutP {
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    font-size:  20px;
    color:  whitesmoke;
    font-family: 'Nixie One', cursive;
    line-height:  40px;
    width: 50vw;
    text-align: justify;
    margin-top:  22%;
    margin-right:  30%;
    padding-right: 20px;

}

/* 
@media (max-width: 769px) {
    .aboutTitile {
        font-size:  80px;
        padding-left:  100px;
        padding-top:  150px;
        padding-bottom:  50px;
    } */
    
    /* .aboutP {
        font-size:  80px;
        padding-left:  100px;
        padding-top:  150px;
        padding-bottom:  50px;
    }
} */

@media (max-width: 321px) { 
    .aboutP {
        font-size:  13px;
        padding-left:  50px;
        padding-right: 50px;
        padding-bottom:  20px;
        padding-top: 20px;
        text-align: justify;
    }

    .aboutTitle {
            font-size:  42px;
            padding-left:  50px;
            padding-right: 50px;
            padding-top:  20px;
            height: 10vh;
        }
}


@media (max-width: 769px) {
    .aboutP {
        font-size:  19px;
        padding-left:  10px;
        padding-right: 10px;
        text-align: justify;
    }
    .aboutTitle {
        font-size:  40px;
        padding-left:  30px;
        padding-right: 30px;
        padding-top:  20px;
        height: 10vh;
    }

}

    