* {
    margin: 0;
    }

body {
    background-color: rgb(15, 21, 26);
    /* width: 100%; */
}

.introClimbs  {
    display: flex;
    justify-content: center;
    padding-top: 180px;
    padding-bottom: 40px;
    margin-left:  5%;
    margin-right: 13%;
    text-align: justify;
    opacity: 0.7;
    font-family:  'Open Sans Condensed', sans-serif; 
    color:  rgb(240, 70, 112);
    font-size:  35px;
    overflow-y: scroll;
}

/* .climbName {
    color:  white;
} */


.climbBoxes {
    font-family:  'Open Sans Condensed', sans-serif;
    color: white;
}

/* .climbBoxes.active {
    box-shadow: 0 5px white;
    transform: translateY(4px);
} */
/* 
#climb-Container {
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content:  space-evenly;
} */



.displayInfo {
    display: none;
}

/* .displayInfo1 {
    height: 300px;
    width: 100%;
}  */

#grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height:  300px;
    width: 100%;
    /* background-attachment: local, scroll; */
    
}

.grid1 {
    grid-column: 1;
    grid-row: auto;
    display: flex;
    flex-direction:  column;
    justify-content:  center;
    align-items: center;
    height:  310px;
    background-color: rgb(46, 53, 59);
    opacity:  0.7;
}

.displayInfo2 {
    grid-column: 2;

}

.climbsDisplay {
    display: flex;
    flex-direction:  column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* height: 225px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border:  2px solid rgb(41, 54, 65);
    margin-right:  5%;
    margin-left: 5%;
    font-family:'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 20px;
    padding-bottom:  10px;
    }

.climbsDisplay1 {
    display: flex;
    flex-direction:  column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 310px;
    margin-right: 5%;
    margin-left: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border:  2px solid whitesmoke;
    font-size:  20px;
    /* opacity:  0.7; */
}

.climbName {
    font-family:'Open Sans Condensed', sans-serif;
    flex-direction:row-reverse;
    justify-content:  space-evenly;
    font-size: 22px;
    color: white;
    text-shadow: 1px 2px  rgb(46, 53, 59);
    fill-opacity: inherit;
    padding-bottom: 30px;
    padding-top:  5px;
}

.pBox {
    padding-bottom:  10px;
    font-size:  18px;
    font-family:'Open Sans Condensed', sans-serif;
/* grid-column: 1; */

}

.pClimb {
/* position:  center; */
opacity:  0.8;
font-family:'Open Sans Condensed', sans-serif;
font-size:  15px;
color: white;
}

.postButton {
font-size: 8px;
background: none;
color:  rgb(240, 70, 112);
font-family:'Open Sans Condensed', sans-serif; 
width:  100px;
margin-top:  10px;
opacity:  0.9;
}

.rideButton {
    /* background-color: white; */
    font-size: 8px;
    background: none;
    color:  rgb(240, 70, 112);
    font-family:'Open Sans Condensed', sans-serif; 
    width:  100px;
    margin-top:  px;
    opacity: 0.9;
    }

h5 {
    font-size:  15px;

}

.comments-container {
    grid-columns: 2/3;
    padding-left:  40px;
    padding-top:  20px;
    /* height: 295px; */
    color: rgb(240, 70, 112);
    opacity: 0.3;
    background-color: rgb(46, 53, 59);
    opacity:  0.9;
}






@media (max-width: 321px) {

}

@media (max-width: 769px) {
    
}