* {
    margin: 0;
    }
  
  body {
    
    }

 .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://c.pxhere.com/photos/de/5a/bicycle_rider_resting_bike_silhouette_bicyclist_female_woman_rider-667377.jpg!d); */
    background-image: url(https://images.unsplash.com/photo-1534787082341-6ebc212936fb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6ec9dfc79e411d63d6ce5b2e60cd8ec4&auto=format&fit=crop&w=800&q=60);
    background-color: rgb(40, 40, 40);
    height: 100vh;
    background-attachment: local, scroll;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height:  100vh;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
        -webkit-background-size:  cover;
        -moz-background-size: cover;
        -o-background-size: cover;  
 /* opacity:  0.5%; */
      }

 

.h1Home  {
    font-size: 250px;
    text-shadow: 10px 10px rgb(15, 21, 26);
    /* text-shadow: 10px 10px rgba(0, 0, 0, 0.733); */
    color:  whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    justify-content: left;
    padding-top:  50px;
    padding-bottom: 20px;
    height: 30vh;
    /* margin-left:  30px; */
}

.h1Up {
  font-size: 30px;
  /* text-shadow:  2px 2px rgba(0, 0, 0, 0.733); */
  text-shadow:  2px 2px rgb(25, 35, 44);
  color: rgb(240, 70, 112);
  font-family:  'Open Sans Condensed', sans-serif;
  /* opacity: 0.9%; */
  padding-bottom:  62px;
  padding-top:  61px;
  opacity:  0.9%;
}

.h3Home {
    justify-content: right;
    font-size:  20px;
    color: whitesmoke;
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    /* padding-top:  10px; */
    padding-bottom:  15px;
}

button {
  background-color: rgb(15, 21, 26);
  border: 1px 1px whitesmoke;
  border: none;
  font-family:  'Open Sans Condensed', sans-serif;
  color: white;
  font-size:  15px;
  width:  75px;
  height:  40px;
  justify-content:  space-around;
  padding:  -3px;
  opacity: 0.7;
}
  /* background-color:  rgba(23, 186, 214, 0.753);
} */


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}



@media (max-width: 321px) {
  .home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

  }

  .navbar {
    padding-top: 17px;
    width: 19%;
    font-size:  8px;
    justify-content:  center;
    font-size: 10px;
  }
  
  /* .home h1 {
    font-size: 85px;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.733);
    padding-top:  150px;
} */
  .navbar a {
    width: 90%;
    font-size: 8px;
  }

  .h1Home  {
    font-size: 80px;
    padding-top: 0px;
    margin-right: -5px;
    margin-top:  0px;
    height: 22vh;
    margin-left: 0;
    justify-content: none;
    text-shadow:  5px 5px rgb(25, 35, 44)
    
  }

  .home h3 {
    font-size:  12px;
    padding-top: -17px;
    padding-bottom: none;
  }

  .h1Up {
    font-size: 29px;
    padding-bottom: 0;
    padding-top:0;
  }

}




@media (max-width: 769px) {

 .navbar {
padding-top: 33px;
width: 95%;
 } 
  
.navbar a {
    font-size:  16px;
}

.h1home {
  
}
}
