* {
    margin: 0;
    }
    
    
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1534787082341-6ebc212936fb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6ec9dfc79e411d63d6ce5b2e60cd8ec4&auto=format&fit=crop&w=800&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height:  100vh;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
        -webkit-background-size:  cover;
        -moz-background-size: cover;
        -o-background-size: cover;   
}

.home h1 {
    font-size: 250px;
    text-shadow: 10px 20px rgba(0, 0, 0, 0.733);
    color:  whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom:  50x;
    height: 40vh;
  
}

.home h3 {
    font-size:  30px;
    color: whitesmoke;
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    padding-top:  20px;
   
}



.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}



@media (max-width: 321px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  
  .home h1 {
    font-size: 85px;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.733);
    padding-top:  150px;
}
  .navbar a {
    font-size: 12px;
  }

  .home h3 {
    font-size:  25px;
    padding-top: 14px;
    padding-bottom: 0;
  }

}

@media (max-width: 769px) {
  .navbar a {
    font-size:  18px;

}
/* h1 {
  font-size: 160px;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.733);
}
h3 {
  font-size:  25px;
  padding-top:  0;

  } */
}

/* .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* color: rgb(216, 37, 97); */