.navbar {
    font-family: 'Nixie One', cursive;
    font-size:  22px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    padding: 0px;
    padding-top:  30px;
    opacity: 0.9;
    z-index: 2;
    height: 10vh
}

.navvbar a:link {
    color: whitesmoke;
    opacity:  0.9;
}

.navbar a:hover {
    opacity: 0.5;
}

.navbar a,  a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



@media (max-width: 321px) {
    .navbar {
        padding-top:  30px;
        font-size: 20px;
    }
}

@media (max-width: 769px) {
    
}


