* {
    margin: 0;
}

.navbar {
/* margin-right: auto;  */
/* background-color:  black; */
font-family: 'Nixie One', cursive;
font-size:  16px;
display: flex;
flex-direction: row;
justify-content: space-evenly;

flex-wrap: wrap;
position: fixed;
width:100%;
border-bottom: 3px solid transparent;
padding-top:  40px;
opacity: 0.9;
z-index: 2;
}


.navbar a {

}

.navvbar a:link {
    color: whitesmoke;
    opacity:  0.9;
   
}

.navbar a:hover {
    opacity: 0.5;
}

.navbar a,  a:visited {
    /* margin-left: auto; */
    /* text-shadow:1px 1px   whitesmoke; */
    color:  whitesmoke;
    /* color: white; */
    text-decoration: none;
    font-weight: bold;
}



@media (max-width: 321px) {
    .navbar {
        padding-top:  30px;
        font-size: 20px;
    }
}

@media (max-width: 769px) {
    
}


