.navbar {
    font-family: 'Nixie One', cursive;
    font-size:  12px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 33%;
    margin: auto;
    color:  whitesmoke;
    justify-content: space-evenly;
    text-align:  right;
    /* /* position: fixed; */
    /* width: 100vw; */
    opacity: 0.9;
    z-index: 2;
    /* height: 10vh;
    width: 100vh; */
    position:  relative;
    padding-top:  30px;
    /* background-color: salmon;  */
    overflow:  hidden;
}

.navbar a {

}

.navvbar a:link {
    color: whitesmoke;
    opacity:  0.9;
   
}

.navbar a:hover {
    opacity: 0.5;
}

.navbar a,  a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



@media (max-width: 321px) {
    .navbar {
        padding-top:  30px;
        font-size: 20px;
    }
}

@media (max-width: 769px) {
    
}


