
* {
        box-sizing: border-box;
    }

  .pink {
        display: inline-block;
        background-color: #F5C6D6;
        border: 5px solid white;
        width: 1000px;
        height: 150px;
  }

  .fushia {
    display: inline-block;
    background-color: #EE2E84;
    width: 250px;
    height: 150px;
    border: 5px solid white;
}
 
  .fushia1 {
    display: inline-block;
    background-color: #EE2E84;
    width: 250px;
    height: 150px;
    border: 5px solid white;
}

.fushia2 {
    display: inline-block;
    background-color: #EE2E84;
    width: 250px;
    height: 150px;
    border: 5px solid white;
}

.fushia3 {
    display: inline-block;
    background-color: #EE2E84;
    width: 250px;
    height: 150px;
    border: 5px solid white;
}

  .aqua {
    display: inline-block;
    background-color:#85CFD8;
    display: inline-block;
    width: 500px;
    height: 150px;
    border: 5px solid white;
}

.aqua1 {
    display: inline-block;
    background-color:#85CFD8;
    width: 500px;
    height: 150px;
    border: 5px solid white;
}

.green {
    display: inline-block;
    background-color: #8DC63F;
    width: 750px;
    height: 150px;
    border: 5px solid white;
} 

  .orange {
      display: inline-block;
      background-color: #E76E34;
      width: 250px;
      height: 150px;
      border: 5px solid white;
  }
