* {
    margin: 0;
}

.filmList  {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filmImage {
    background-image: inherit;
    background-repeat:  no-repeat;
    background-size:  contain;
    height:  300px;
    width: 150px;
    flex-wrap: wrap;
}

img {
    width:  100%;
    height: auto;
}

.toggle {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

span {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
    color: white;

}