* {
    margin: 0;
}

.film {
    background-image: url(https://images.unsplash.com/photo-1458053688450-eef5d21d43b3?ixlib=rb-0.3.5&s=e535df43ae0a54ec2bf5bd03a7eeeb52&auto=format&fit=crop&w=700&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.film h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 70px;
    color: white;
    padding-top: 8%;
    padding-bottom: 0;

}

.film h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    color: white;
    opacity: 0.5;
    padding-bottom: 10%;
}

.film h2 {
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    color: white; 
}

.film form {
    padding-top: 5%;
    -ms-transform: translate(-50%, -50%);
    padding-bottom:  10%;
    
}
.film input {
    padding: 7px 7px;
    background-color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 10px rgb(90, 79, 77);
    background-clip: border-box;
    width: 400px;
}


/* position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%); */