body {
    background-color: blueviolet
    
}

#totalBox {
    width:  100px;
    height: 20px;
    background-color: aqua

}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lavender
}

