* {
    margin: 0;
    }

.production {
    background-color: black;
    overflow-y: scroll;
}

.production intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-left:  50px;
    margin-right: 80px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.festivals {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items:  center;
    
}

span {
    /* opacity: 0.60; */
    padding-top: 100px;
    font-size:  30px;
    font-family: 'Paytone One', sans-serif;
    /* color:  purple; */
    color:  orange;

}

.venice {
    background: url("http://static.labiennale.org/files/styles/seo_thumbnail/public/cinema/600x600/palazzo-17.jpg?itok=yrr72NTV");
    height: 400px;
    width:  100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border:  20px solid black;
}

.sundance {
    /* background: url("https://pmcdeadline2.files.wordpress.com/2017/11/sundance-film-festival-2018.jpg?w=446&h=299&crop=1"); */
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEd8Renc5PuqXVyeGDQrVmxB715OFfatgkentqd3isJEqNOxgiNw");
    height: 400px;
    width:  100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border:  20px solid black;
}

.cannes {
    background: url("http://sildriver.fr/images/2018/03/19/taxi-festival-de-cannes.jpg");
    height: 400px;
    width:  100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border:  20px solid black;
}

.toronto {
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzji2LFlnoF1akkGPYd9veKqJfHwEaogb0eABUQF3hk63csTY0rw"); */
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgsN_RGJ_Hw9ESQKNKI92HrawbfNcLgJbu77KukPntai90nqM8pg"); */
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROtqrKeoPSKthPztH5IrG4p4S4xccsqm6Qh_iVJS4VUT22stLd");
    height: 400px;
    width:  100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border:  20px solid black;
}


.ocean {
    background: url("https://images.unsplash.com/photo-1532040675891-5991e7e3d0cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e42f6e06850a5b794105fa09063d1c1&auto=format&fit=crop&w=800&q=60");
    height: 400px;
    width:  100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border:  20px solid black;
}


.production h1 {
    margin-top:  65px;
    margin-bottom: 15px;
    margin-right: 500px;
    margin-left: 175px;
    font-family: 'Paytone One', sans-serif;
    /* font-size: 60px; */
    color: white;

}


.production a {
    display: inline-block;
    text-align: center;
    margin-left: 20%;
    margin-right: 50%;
    overflow: visible;
    /* /* margin-top:  100px; */
    /* margin-left:  200px;  */
    background-color: black;
    /* background-color: rgb(221, 56, 27); */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Paytone One', sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
    height:  400px;
    width: 100px;
    padding: 16px 32px;
    border: 5px solid black;
    cursor: pointer;
    box-shadow:  5px 5px rgba(150, 139, 139, 0.726);
    /* background-clip: border-box; */
    /* margin: 4px 2px; */
    opacity: 0.6;
    /* transition: 0.3s; */
    -ms-transform: translate(-50%, -50%);

}

.production a:hover {
    color: white;
}



@media (max-width: 769px) {

    .production h1 {
        margin-top:  110px;
      
        margin-right: 332px;
        margin-left: 139px;
        font-family: 'Paytone One', sans-serif;
        /* font-size: 60px; */
        color: white;
    }
}

@media (max-width: 321px) {

    .production h1 {
        margin-top: 108px;
        margin-right: 12px;
        margin-left: 42px;
        font-size: 28px;
    }
   
    .venice {
        height: 222px;
        width: auto;
    }
    
    .sundance {
        height: 222px;
        width: auto;
    }
    
    .cannes {
        height: 222px;
        width: auto;
    }
    
    .toronto {
        height: 222px;
        width: auto;
    }
    
    .ocean {
        height: 222px;
        width: auto;
    }
}