
/* header - row1*/
/*  - row2 */
/*  .participation row3 */
/*  row4 */
/*  row5 */
/*  row6 */

* {
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko*/
  }
  
html .body {
	margin: 0;
	padding: 0;
}

.body {
	/* display: grid;
	grid-template-columns: 2fr 1fr;  */
	background-color: whitesmoke;
	font-family: 'Libre Baskerville', serif;
	font-size: 70%;
}

.page-wrapper {
	position:  relative;
}

header {
	margin: 0; 
	height:  200px;
	width: 100%; 
	padding: 20px 0 70px 0;
	background-repeat: repeat, repeat, repeat, no-repeat;
	background-size: cover;
	background-image: url(huntington.jpg);
	text-align: center;
}

h1 h2 {
	padding: 0 10%;
  	margin: 0;
  	color: whitesmoke;
	font-weight: normal;
	text-align: center;
}

h1 {
	color:  white;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

h1::before {
	display: inline-block;
	position: relative;
	top: 20px;
	content: "";
	width: 80px;
	height: 80px;
	margin: -20px 20px 0 0;
	background: url(enso.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.6;
  }

h2 {
	color: rgba(255, 255, 255, 0.445);
	font-family: 'Libre Baskerville', sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

h3 {
	display: block;
	font-size:  20px;
	font-weight: bold;
	font-family: 'Julius Sans One', sans-serif;
	color: #134347;
	text-transform: uppercase;
}

p {
	display: block;
	font-family: 'Libre Baskerville', sans-serif;
	font-size: 15px;
	color: #325050;
	box-sizing: border-box;
	line-height: 2;
	margin: .0.75em 0;
}

#participation-container {
	background-color: #a7cccc;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

/* main footer */
footer {
	clear: both;
	padding: 3em 10%;
	color: #fff;
	background: #67ada2;
	text-align: center;
  }

  footer a {
	display: inline-block;
	overflow: hidden;
	width: 40px;
	height: 40px;
	padding: 40px 0 0 0;
	margin: 0 0.5em;
	position: relative;
	color: rgba(255, 255, 255, 0.5);
	/* -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
	-moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
	transition: color 0.25s ease-out, box-shadow 0.25s ease-out; */
  }




