/* font-family: 'Amatic SC', cursive;
font-family: 'Cinzel', serif;
font-family: 'Poiret One', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Marcellus SC', serif; */

* {
    background-color: black;
    color:  white;
}



img {
    height:  250px;
    width: 250px;
    align-content: space-between;
}