
.footer {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
}

.footer ul {
    /* display: inline-block; */
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer li {
    /* display: inline-block; */
}

.footer li a { 
    width: 20px;
}

.footer img {
    height:  30px;
    width: 30px;
    padding:  20px;
}
