.navbar {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 100%;
}

.navbar ul {
    /* display:  inline-block; */
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    /* width:  100%;
    height:  20px; */
    margin: 0;
    padding: 0;
}

.navbar li {
    text-align: center;
    /* padding: 8px 15px; */
    font-weight: bold;
}

.navbar li a {
   width: 60px;
}

@media only screen and (max-width: 320px) {
    .navbar ul {
        display:  block;
    }
}

